<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(135deg, #1d2671, #c33764);
            height: 100vh;
        }
        .login-card {
            border-radius: 16px;
            box-shadow: 0 15px 40px rgba(0,0,0,0.3);
        }
    </style>
</head>
<body class="d-flex align-items-center justify-content-center">

<div class="card login-card p-4" style="width: 380px;">
    <h3 class="text-center mb-4 fw-bold">ĐĂNG NHẬP</h3>

    <!-- Thông báo lỗi -->
    <div th:if="${param.error}" class="alert alert-danger">
        Sai tài khoản hoặc mật khẩu
    </div>

    <!-- Thông báo logout -->
    <div th:if="${param.logout}" class="alert alert-success">
        Đăng xuất thành công
    </div>

    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

</div>

</body>
</html>